@page
@model Auto_Service.Pages.Deliveres.EditModel
@{
}

<br>
<h2>Редактирование поставки</h2>

@if (Model.errorMessage.Length > 0)
{
	<div class='alert alert-warning alert-dismissible fade show' role='alert'>
		<strong>@Model.errorMessage</strong>
		<button type='button' class='btn-close' data-ds-dismiss='alert' aria-label="Close"></button>
	</div>
}

<form method="POST">
	<input type="hidden" name="id" value="@Model.deliverInfo.id">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Дата</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="name" value="@Model.deliverInfo.date">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Запчасть</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="carnum" value="@Model.deliverInfo.spname">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Количество</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="quantity" value="@Model.deliverInfo.quantity">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Цена</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="quantity" value="@Model.deliverInfo.price">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Поставщик</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="quantity" value="@Model.deliverInfo.sup">
		</div>
	</div>
	
	@if (Model.successMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class='alert alert-success alert-dismissible fade show' role='alert'>
					<strong>@Model.successMessage</strong>
					<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
				</div>
			</div>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Сохранить</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/Cars/Cars" role="button">Скрыть</a>
		</div>
	</div>
</form>