@page
@model Auto_Service.Pages.Clients.EditModel
@{
	ViewData["Title"] = "Редактирование клиента";
}

<br>
<h2>Редактирование клиента</h2>

@if (Model.errorMessage.Length > 0)
{
	<div class='alert alert-warning alert-dismissible fade show' role='alert'>
		<strong>@Model.errorMessage</strong>
		<button type='button' class='btn-close' data-ds-dismiss='alert' aria-label="Close"></button>
	</div>
}

<form method="POST">
	<input type="hidden" name="id" value="@Model.clientInfo.id">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Фамилия</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="surname" value="@Model.clientInfo.surname">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Имя</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="name" value="@Model.clientInfo.name">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Телефон</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="phone" value="@Model.clientInfo.phone">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Тип</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="type" value="@Model.clientInfo.type">
		</div>
	</div>

	@if (Model.successMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class='alert alert-success alert-dismissible fade show' role='alert'>
					<strong>@Model.successMessage</strong>
					<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
				</div>
			</div>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Сохранить</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/Clients/Clients" role="button">Скрыть</a>
		</div>
	</div>
</form>
